h1{
    color:brown;
    background-color: blanchedalmond;
    padding: 0 0 0 100px; 

}
body p{
    background-color: rgb(61, 240, 240);
    color:black;
    font-size: 18px;
    font-weight: bold;


}
